<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">Sky Academy!</a>
        <nav>
            <ul>
                <li *ngIf="!isAuth">
                  <a routerLink="/login">Login</a>
                </li>
                <li *ngIf="isAuth" class="menu-container">
                  <a routerLink="/dashboard">{{user.name}}</a>
                  <div class="menu">
                    <a routerLink="/profile">Profile</a>
                    <a (click)="logout()">Logout</a>
                  </div>
                </li>
                <li>
                  <a href="#" routerLink="/favorite-page">Favorite <span *ngIf="favoriteQuantity">{{favoriteQuantity}}</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
