div{
  display: flex;
  flex-wrap: wrap;    //not going to stick together in a single line
  justify-content: center;
}

div a{
  background-color: #f0f0f0;
  padding: .3rem 1rem;
  margin: .2rem .15rem; //top-bottom left-right
  border-radius: 10rem;
  font-weight: 600;
  color: #545454;
}
