<app-not-found [visible]="!favorite || favorite.items.length <= 0" notFoundMessage="Favorite Page is Empty" resetLinkText="Go To Homepage"></app-not-found>
<app-title title="Cart Page" margin="1.5rem 0 0 2.5rem"></app-title>

<div *ngIf="favorite && favorite.items.length > 0" class="container">
  <ul>
    <li *ngFor="let favoriteItem of favorite.items">
      <div>
        <img [src]="favoriteItem.course.imageUrl" [alt]="favoriteItem.course.title">
      </div>

      <div>
        <a routerLink="/course/{{favoriteItem.course.id}}">
          {{favoriteItem.course.title}}
        </a>
      </div>

      <div>
        <select #quantitySelect (change)="changeQuantity(favoriteItem, quantitySelect.value)">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div>
        {{favoriteItem.price | currency}}
      </div>

      <div>
        <button class="remove-button" (click)="removeFavorite(favoriteItem)">
          Remove
        </button>
      </div>
    </li>
  </ul>

  <div class="checkout">
    <div>
      <div class="course-count">
        {{favorite.totalCount}}
      </div>
      <div class="total-price">
        {{favorite.totalPrice | currency}}
      </div>
    </div>

    <a routerLink="/checkout">Proceed to checkout </a>
  </div>
</div>
